<div class="w3-mobile w3-container w3-padding w3-animate-top" style="width:40%;margin:auto">
	<div class="w3-card-4 w3-round-xlarge w3-container w3-padding">
		<p class="w3-center">
			<b>{{ message }}</b>
		</p>
		<hr>
		<p>
			<label><b>USERNAME</b></label>
			<input type="text" ng-model="username" class="w3-input w3-border">
		</p>
		<p>
			<label><b>PASSWORD</b></label>
			<input type="password" ng-model="password" class="w3-input w3-border">
		</p>
		<p>
			<button class="w3-right" ng-click="login()">LOGIN</button>
		</p>
	</div>
</div>